---
layout: default
---

<div class="content">

{% for post in site.posts limit:1 %}
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h1 class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h1>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      <hr />
    </div>
  </div>
  
  
  <div class="row">
    
    <div class="nine columns">
    {{ post.content }}
    </div>
    {% endfor %}
    
    
    <div class="three columns u-pull-right">
      <ul class="post-list">
      {% for post in site.posts offset:1 %}
        <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  
  <br />
      
  {% for post in site.posts limit:5 offset:1 %}
    <div class="row">    
    <div class="nine columns">
      <h1 class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h1>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
      <hr />
      {{ post.content }}
    </div>
    </div>
    <br />
  {% endfor %}
    
  
</div>
  
</div>