<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <div class='content'>

  {% include jp_nav.html %}

    <div class="container">

      <div class="row">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">posted <strong>{{ page.date | date: "%b %-d, %Y at %H:%M" }}</strong> by <strong>{{page.author}}</strong></p>
      </div>

      <hr />

      <div class="row">
        <div class="nine columns">
          {{ content }}
        
        
        {% if page.next %}
        <a class="button" href="{{ page.next.url }}">Next: {{ page.next.title }}</a>
        {% endif %}

        </div>
       
        <div class="three columns">

          <ul class="post-list">
            <li><a class="post-link" href="/japan.html"><strong>Welcome</strong></a></li>
          {% for post in site.categories['japan'] reversed %}
            <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endfor %}
          </ul>
          
          

        </div>
        
      </div>

    </div>

  </body>
</html>
